<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-md-6">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#signUp">Registrarse</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="login" class="tab-pane active">
          <app-login-tab></app-login-tab>
        </div>
        <div id="signUp" class="tab-pane fade">
          <app-sign-up-tab></app-sign-up-tab>
        </div>
      </div>
    </div>
  </div>
</div>