<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a href="#" class="navbar-brand">COVID-19 Dashboard</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="authService.isLoggedIn" class="nav-item">
        <a href="" class="nav-link" routerLink="continents">Continentes</a>
      </li>
      <li *ngIf="authService.isLoggedIn" class="nav-item">
        <a href="" class="nav-link" routerLink="countries">Paises</a>
      </li>
    </ul>
    <ul *ngIf="authService.isLoggedIn" class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="" class="nav-link">{{authService.userName}}</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Favoritos</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" (click)="authService.SignOut()">LogOut</a>
        </li>
        
      </ul>
  </div>
</nav>
