<h1>LOGIN</h1>
<form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
    <!-- {{ diagnostic }} -->
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email"
            #email="ngModel" />

        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Email requerido
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="model.password" name="password" />
        <!-- TODO: remove this: {{ model.password }} -->
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!signUpForm.form.valid">Login</button>
    <br>
</form>